/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/

body {
  background-color: black;
}

.bigCounter {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 200px;
  gap: 5px;
}

.bigCounter > div {
  background-color: rgb(88, 92, 92);
  text-align: center;
  color: white;
  padding: 1rem;
}
